#
# Sega/Mega CD games
#

[CD|GM MK-4432 -00|U|ADVENTURES OF BA]
Scale/Rot. fx (slow) = 1
Better sync (slow) = 1

[CD|GM T-60055-00|U|AH3-THUNDERSTRIKE]
Scale/Rot. fx (slow) = 1

[CD|GM MK-4401 -00|U|BATMAN RETURNS]
Scale/Rot. fx (slow) = 1

[CD|GM T-115075-00|U|BCRACERS]
Scale/Rot. fx (slow) = 1

[CD|GM MK-4402|U|COBRA COMMAND]
Better sync (slow) = 1

[CD|GM MK-4651 -00|U|DARK WIZARD]
Better sync (slow) = 1

[CD|GM T-121015-00|U|DRAGONS LAIR]
Renderer = 16bit accurate

[CD|GM T-60094|J|JAGUAR XJ220]
Renderer = 16bit accurate

[CD|GM T-127015-00|U|LUNAR]
Scale/Rot. fx (slow) = 1

[CD|GM T-111065 -0|U|MAD DOG II THE LOST GOLD]
Renderer = 16bit accurate

[CD|GM T-11105 -00|U|MAD DOG MCCREE]
Renderer = 16bit accurate

[CD|GM  T-81025-00|U|MORTAL KOMBAT]
Renderer = 16bit accurate
Better sync (slow) = 1

[CD|GM  T-04903-01|U|NIGHT TRAP]
Renderer = 16bit accurate

[CD|GM T-113025-00|U|NOVASTORM]
Better sync (slow) = 1

[CD|GM T-127035-00|U|Popful MAIL]
Better sync (slow) = 1

[CD|MK 4603-50|JUE|ROAD AVENGER]
Renderer = 16bit accurate
Better sync (slow) = 1

[CD|GM T-50085|U|ROAD RASH]
Renderer = 16bit accurate
Better sync (slow) = 1

[CD|GM MK-4416 -00|E|ROBO ALESTE]
Renderer = 16bit accurate

[CD|GM  T-06201-03|U|SEWER SHARK]
Renderer = 16bit accurate

[CD|GM T-113045-00|E|SHADOW OF THE BEAST TWO]
Renderer = 16bit accurate

[CD|GM MK-4404|U|SOL-FEACE]
Better sync (slow) = 1

[CD|GM MK-4407-00|E|SONIC THE HEDGEHOG-CD]
Scale/Rot. fx (slow) = 1

[CD|GM MK-4407 -00|U|SONIC THE HEDGEHOG-CD]
Scale/Rot. fx (slow) = 1

[CD|GM T-22025-00|U|THE 3RD WORLD WAR]
Better sync (slow) = 1

[CD|GM MK- 4430  -|E|YUMEMI MISTERY MANSION]
Renderer = 16bit accurate

#
# Virtua Racing
#
[MD|GM MK-1229 -00|U|Virtua Racing]
Renderer = 8bit fast
Show FPS = 1
GP2X CPU clocks = 235

[MD|GM G-7001  -00|J|Virtua Racing]
Renderer = 8bit fast
Show FPS = 1
GP2X CPU clocks = 235

[MD|GM MK-1229 -00|E|Virtua Racing]
Renderer = 8bit fast
Show FPS = 1
GP2X CPU clocks = 235

[MD|GM MK-1229 -00|E|VIRTUA RACING                          \00\00\00\00\00\00\00\00\00]
Renderer = 8bit fast
Show FPS = 1
GP2X CPU clocks = 235

#
# Genesis/MegaDrive games
#
