[Desktop Entry]
Type=Application
Name=Picodrive
Comment=A megadrive/genesis emulator
Exec=PicoDrive %f
Icon=megadrive
Terminal=false
Categories=emulators;
MimeType=.md;.smd;.bin;.sms;.gg;.cue;.chd;.32x;.zip;.7z
